<p id="notice"><%= notice %></p>

<div class="container">
    <div class="header">
        <p>
            <%= @post.heading %>
        </p>

        <p>
            <%= @post.external_url %>
        </p>
    </div>

    <p>
        <%= @post.price %>
    </p>

    <p>
        <%= @post.timestamp %>
    </p>

    <p>
        <%= @post.neighborhood %>
    </p>

    <p>
        Bedrooms: <%= @post.bedrooms %>
    </p>

    <p>
        Bathrooms: <%= @post.bathrooms %>
    </p>

    <p>
        Square Footage: <%= @post.sqft %>
    </p>

    <p>
        Cats allowed: <%= @post.cats %>
    </p>

    <p>
        Dogs allowed: <%= @post.dogs %>
    </p>

    <p>
        Washer/dryer in unit: <%= @post.w_d_in_unit %>
    </p>

    <p>
        Street parking: <%= @post.street_parking %>
    </p>

    <% @images.each do |image| %>
      <%= image_tag image.url, class: "thumbnail" %>
    <% end %>

     <p>
        <%= @post.body %>
    </p>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
    </div>
